---
import PostCard from "@components/PostCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout
  title="Blog - The Null Hypothesis"
  description="Thoughts on software engineering, system design, and digital philosophy"
>
  <section>
    <h1>Blog</h1>
    <div>
      {posts.map((post: CollectionEntry<"blog">, index: number) => (
        <PostCard post={post} index={index} />
      ))}
    </div>
  </section>
</BaseLayout>
