---
import Hero from "@components/Hero.astro";
import PostCard from "@components/PostCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort(
    (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )
  .slice(0, 3);
---

<BaseLayout
  title="The Null Hypothesis - Software Engineering & Digital Philosophy"
  description="A space where decades of code meet moments of clarity"
>
  <Hero />

  <section>
    <h2>Recent Posts</h2>
    <div>
      {posts.map((post: CollectionEntry<"blog">, index: number) => (
        <PostCard post={post} index={index} />
      ))}
    </div>
  </section>
</BaseLayout>
