---
import { PostsManager } from "@utils/postSorter";
import { getCollection } from "astro:content";
import PostCard from "./PostCard.astro";

const limit = 9;
const allPosts = await getCollection("blog");
const latestPosts = PostsManager.getLatest(allPosts, limit);
---

<section>
  {latestPosts.map((post, index) => (
    <PostCard post={post} index={index} />
  ))}
</section>
