---
import FormattedDate from "@components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<article>
  <h3>{post.data.title}</h3>
  <p>{post.data.description}</p>
  <div>
    <a href={`/${post.slug}/`}>
      Read more
    </a>
    <FormattedDate date={post.data.pubDate} />
  </div>
</article>
