---
import BaseLayout from "@layouts/BaseLayout.astro";

export interface Props {
  readonly title: string;
  readonly description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="stack">
    <header class="center">
      <h1>{title}</h1>
      <p data-subtitle>{description}</p>
    </header>
    <section class="center stack">
      <slot />
    </section>
  </article>
</BaseLayout>
