---
import Head from "@components/Head.astro";
import NavBar from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";
import "@styles/prose.css";

export interface Props {
  readonly title?: string;
  readonly description?: string;
  readonly image?: string;
}

const {
  title,
  description,
  image
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} image={image}>
    <slot name="head" slot="head" />
  </Head>
  <body>
    <NavBar />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  main {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: var(--space-lg) var(--space-md) var(--space-xl);
    width: 100%;
  }
</style>
